{% macro pagination(route_name, page = 1, total = 10, limit = 10) %}
    <div class="d-flex justify-content-between align-items-center">
        <div>
            {{ 'common.number_of_items'|trans }}: {{ total }}
        </div>
        <div class="d-flex">
            <div>
                <select name="limit" class="form-select" onchange="this.form.dispatchEvent(new Event('submit'))">
                    {% for option in [10, 20, 50, 100] %}
                        <option value="{{ option }}"
                                {% if limit == option %}selected{% endif %}>{{ option }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="page" value="{{ page }}">
            </div>
            {% if page > 1 %}
                <a href="{{ path(route_name, app.request.query.all|merge({'page': 1})) }}"
                   class="btn btn-link">
                    <i class="fa-solid fa-angle-double-left"></i>
                </a>
                <a href="{{ path(route_name, app.request.query.all|merge({'page': page - 1})) }}"
                   class="btn btn-link">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            {% endif %}
            {% set end_page = total // limit + (total % limit > 0 ? 1 : 0) %}
            {% if page < end_page %}
                <a href="{{ path(route_name, app.request.query.all|merge({'page': page + 1})) }}"
                   class="btn btn-link">
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <a href="{{ path(route_name, app.request.query.all|merge({'page': end_page})) }}"
                   class="btn btn-link">
                    <i class="fa-solid fa-angle-double-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro dynamic_content(route_name) %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const postings = document.querySelector('.postings');
            const form = postings.closest('form');
            const submitButtons = form.querySelectorAll('button[type="submit"]');
            const toggleButtons = (disabled) => {
                submitButtons.forEach(button => button.disabled = disabled);
            };

            form.addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(form);
                const oldValues = form.dataset.oldValues || false;
                const newValues = JSON.stringify(Object.fromEntries(formData));
                if (oldValues === newValues) {
                    return;
                }

                console.log('submitting');

                toggleButtons(true);
                fetch('{{ path(route_name) }}', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.text())
                    .then(html => {
                        postings.innerHTML = html;
                    })
                    .then(() => {
                        form.dataset.oldValues = newValues;
                        toggleButtons(false);
                    });
            });

            form.querySelectorAll('input, select').forEach(e =>
                e.addEventListener('change', () => {
                    return form.dispatchEvent(new Event('submit'));
                }));

            form.dispatchEvent(new Event('submit'));
        });
    </script>
{% endmacro %}
