{% macro pagination(route_name, page = 1, total = 10, limit = 10) %}
    <div class="d-flex justify-content-between align-items-center">
        <div>
            {{ 'common.number_of_items'|trans }}: {{ total }}
        </div>
        <div class="d-flex">
            <div>
                <select name="limit"
                        class="form-select"
                        onchange="this.form.dispatchEvent(new Event('submit'))"
                        data-hook="pagination-limit"
                >
                    {% for option in [10, 20, 50, 100] %}
                        <option value="{{ option }}"
                                {% if limit == option %}selected{% endif %}>{{ option }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="page" value="{{ page }}" data-hook="pagination-page">
            </div>
            {% if page > 1 %}
                <button type="button"
                        onclick="document.querySelector('[name=\'page\']').value = (1); document.querySelector('[name=\'page\']').dispatchEvent(new Event('change')); this.form.dispatchEvent(new Event('submit'))"
                        class="btn btn-link">
                    <i class="fa-solid fa-angle-double-left"></i>
                </button>
                <button type="button"
                        onclick="document.querySelector('[name=\'page\']').value = ({{ page - 1 }}); document.querySelector('[name=\'page\']').dispatchEvent(new Event('change')); this.form.dispatchEvent(new Event('submit'))"
                        class="btn btn-link">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
            {% endif %}
            {% set end_page = total // limit + (total % limit > 0 ? 1 : 0) %}
            {% if page < end_page %}
                <button type="button"
                        onclick="document.querySelector('[name=\'page\']').value = ({{ page + 1 }}); document.querySelector('[name=\'page\']').dispatchEvent(new Event('change')); this.form.dispatchEvent(new Event('submit'))"
                        class="btn btn-link">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
                <button type="button"
                        onclick="document.querySelector('[name=\'page\']').value = ({{ end_page }}); document.querySelector('[name=\'page\']').dispatchEvent(new Event('change')); this.form.dispatchEvent(new Event('submit'))"
                        class="btn btn-link">
                    <i class="fa-solid fa-angle-double-right"></i>
                </button>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro dynamic_content(route_name) %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const postings = document.querySelector('.postings');
            const form = postings.closest('form');
            const submitButtons = form.querySelectorAll('button[type="submit"]');
            const toggleButtons = (disabled) => {
                submitButtons.forEach(button => button.disabled = disabled);
            };

            const addEventListeners = (form) => {
                postings.querySelectorAll('input, select').forEach(e =>
                    e.addEventListener('change', () => {
                        const hook = e.dataset.hook;
                        if (hook) {
                            const targets = form.querySelectorAll(`[data-hook="${hook}"]`);
                            targets.forEach(target => target.value = e.value);
                        }
                        return form.dispatchEvent(new Event('submit'));
                    }));
            };

            form.addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(form);
                const oldValues = form.dataset.oldValues || false;
                const newValues = JSON.stringify(Object.fromEntries(formData));
                if (oldValues === newValues) {
                    return;
                }

                console.log('submitting');

                toggleButtons(true);
                fetch('{{ path(route_name) }}', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.text())
                    .then(html => {
                        postings.innerHTML = html;
                    })
                    .then(() => {
                        form.dataset.oldValues = newValues;
                        toggleButtons(false);
                        addEventListeners(form);
                    });
            });

            form.querySelectorAll('input, select').forEach(e =>
                e.addEventListener('change', () => {
                    return form.dispatchEvent(new Event('submit'));
                }));

            form.dispatchEvent(new Event('submit'));
        });
    </script>
{% endmacro %}
