{% extends 'layouts/base.html.twig' %}
{% form_theme form 'common/forms/bundle.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center w-100 pt-4">
        <div class="card bg-light mb-3 mt-5" style="width: 800px">
            <div class="card-header">{{ 'components.posting.create.header'|trans }}</div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.assignedTo) }}
                {% include 'common/forms/collection.html.twig' with {
                    formKey: 'questions',
                    buttonLabel: 'Dodaj pytanie',
                } %}
                <div class="col-md-12 mb-3">
                    {{ form_button(form, {variant: 'primary', icon: 'user', label: 'common.save'|trans}) }}
                    {{ form_button(form, {variant: 'secondary', icon: 'door-open', label: 'Back', href: path('app_admin_posting_index')}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

