{# {% if loop.index % 2 == 1 %} #}
{#    {% set buttonClasses = buttonClasses ~ ' bg-secondary' %} #}
{# {% endif %} #}

{% set actionRow %}
    {% set canEdit = is_granted(constant('App\\Security\\Entity\\UserRoles::SUPER_ADMIN').value) or posting.assignedTo.id == app.user.id %}
    <div class="d-flex justify-content-end gap-1">
        <a class="btn btn-primary {% if not canEdit %}disabled{% endif %}"
           href="{{ path('app_admin_posting_edit', {'id': posting.id}) }}"
        >
            <i class="fa-solid fa-pen"></i>
        </a>
        <a class="btn btn-secondary"
           href="{{ path('app_admin_posting_show', {'id': posting.id}) }}"
        >
            <i class="fa-solid fa-eye"></i>
        </a>
        <a class="btn btn-danger"
            {#            href="{{ path('app_admin_posting_delete', {'id': posting.id}) }}" #}
        >
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
{% endset %}

{% embed 'common/accordion-item.html.twig' with {
    headerTag: 'h5',
    buttonClasses: 'px-2 fw-bold fs-5'
} %}
    {% block buttonText %}
        {{ loop.index }}. {{ posting.title }}
        <span class="text-secondary ps-2">- {{ posting.assignedTo.name }}</span>
        <span class="ps-2">- Kandydaci: {{ posting.applications|length }}</span>
    {% endblock %}
    {% block body %}
        <p>{{ posting.description }}</p>
        {{ actionRow }}
    {% endblock %}
{% endembed %}
