{# {% if loop.index % 2 == 1 %} #}
{#    {% set buttonClasses = buttonClasses ~ ' bg-secondary' %} #}
{# {% endif %} #}

{% set actionRow %}
    {% set canEdit = posting.canEdit(app.user) %}
    <div class="d-flex justify-content-end gap-1">
        <a class="btn-sm btn-outline-secondary btn"
           href="{{ path('app_admin_posting_show', {'id': posting.id}) }}"
        >
            <i class="fa-solid fa-eye"></i>
        </a>
        <a class="btn-sm btn btn-outline-primary {% if not canEdit %}disabled{% endif %}"
           href="{{ path('app_admin_posting_edit', {'id': posting.id}) }}"
        >
            <i class="fa-solid fa-pen"></i>
        </a>
        <a class="btn-sm btn btn-outline-danger {% if not canEdit %}disabled{% endif %}"
            {#           TODO: #}
            {#            href="{{ path('app_admin_posting_delete', {'id': posting.id}) }}" #}
        >
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
{% endset %}

{% embed 'common/list-accordion/accordion-item.html.twig' with {
    buttonClasses: posting.isClosed ? 'bg-light' : '',
} %}
    {% block buttonText %}
        <div class="d-flex justify-content-between flex-wrap">
            <div>
                <span class="text-muted">
                    {{ loop.index }}.
                </span>
                <span class="fw-semibold">
                    {{ posting.title }}
                </span>
            </div>
            <span class="d-flex flex-wrap">
                <span class="text-secondary px-1">{{ posting.assignedTo.name }}</span>
                    |
                <span class="gap-1 d-flex px-1">
                    <span class="text-muted">
                        {{ 'components.posting.closing_date'|trans }}:
                    </span>
                    {{ posting.closingDate|date('Y-m-d') }}
                    <div>
                        {% if posting.isClosed %}
                            <i class="fa-solid fa-lock text-muted"></i>
                        {% else %}
                            <i class="fa-solid fa-unlock"></i>
                        {% endif %}
                    </div>
                </span>
                    |
                <span class="ps-1">
                    {{ 'components.posting.candidates_count'|trans({count: posting.applications|length})|raw }}
                </span>
            </span>
        </div>
    {% endblock %}
    {% block body %}
        <div class="border p-2 bg-white">
            <p class="mb-0">{{ posting.description }}</p>
            {{ actionRow }}
        </div>
    {% endblock %}
{% endembed %}
