{% extends 'layouts/base.html.twig' %}

{% block body %}
    {% set actionRow %}
        {% set canEdit = posting.canEdit(app.user) %}
        <div class="d-flex justify-content-end gap-1">
            <a class="btn btn-primary {% if not canEdit %}disabled{% endif %}"
               href="{{ path('app_admin_posting_edit', {'id': posting.id}) }}"
            >
                <i class="fa-solid fa-pen"></i>
            </a>
            <a class="btn btn-danger {% if not canEdit %}disabled{% endif %}"
                {#               TODO: #}
                {#            href="{{ path('app_admin_posting_delete', {'id': posting.id}) }}" #}
            >
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
    {% endset %}


    <div class="card card-flush">
        <h4 class="card-header fw-bold">
            {{ posting.title }}
            <span class="text-secondary ps-2">- {{ posting.assignedTo.name }}</span>
        </h4>
        <div class="card-body">
            <p>{{ posting.description }}</p>
            <div class="mb-3">
                <p class="fw-semibold">{{ 'components.posting.question.admin.list_header'|trans }}</p>

                <ul class="list-group">
                    {% if posting.questionnaire.questions.empty %}
                        <p class="list-group-item">{{ 'components.posting.question.admin.list_empty'|trans }}</p>
                    {% else %}
                        {% for question in posting.questionnaire.questions %}
                            <div class="list-group-item">
                                {{ loop.index }}. {{ question.label }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>

            <div class="mb-3">
                <p class="fw-semibold">{{ 'components.posting.candidate.admin.list_header'|trans }}</p>
                {% set accordionId = 'postings-' ~ random() %}
                {% if posting.applications.empty %}
                <div class="accordion" id="{{ accordionId }}">
                    {% embed 'common/accordion-item.html.twig' with {
                        headerTag: 'p',
                        buttonClasses: 'px-2 py-2',
                        parentId: accordionId
                    } %}
                        {{ 'components.posting.candidate.admin.list_empty'|trans }}
                    {% endembed %}
                </div>
            </div>
            {% else %}
                <div class="accordion" id="{{ accordionId }}">
                    {% for application in posting.applications %}
                        {% embed 'common/accordion-item.html.twig' with {
                            parentId: accordionId,
                            headerTag: 'p',
                            buttonClasses: 'px-2 py-2',
                        } %}
                            {% block buttonText %}
                                {{ loop.index }}. {{ application.questionnaire.firstName }} {{ application.questionnaire.lastName }}
                            {% endblock %}
                            {% block body %}
                                {% if posting.questionnaire.questions|length %}
                                    <p class="fw-semibold">Odpowiedzi:</p>
                                    <ul>
                                        {% for answer in application.answers %}
                                            <li>{{ answer.question.title }}: {{ answer.answer }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endblock %}
                        {% endembed %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="card-footer">
            {{ actionRow }}
        </div>
    </div>
{% endblock %}

