{% extends 'layouts/base.html.twig' %}

{% block body %}
    {% set actionRow %}
        {% set canEdit = posting.canEdit(app.user) %}
        <div class="d-flex justify-content-end gap-1">
            <a href="{{ path('app_user_posting_print', {'id': posting.id}) }}" class="btn btn-secondary">
                <i class="fa fa-print"></i>
            </a>
            <a class="btn btn-primary {% if not canEdit %}disabled{% endif %}"
               href="{{ path('app_admin_posting_edit', {'id': posting.id}) }}"
            >
                <i class="fa-solid fa-pen"></i>
            </a>
            <a class="btn btn-danger {% if not canEdit %}disabled{% endif %}"
                {#               TODO: #}
                {#            href="{{ path('app_admin_posting_delete', {'id': posting.id}) }}" #}
            >
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
    {% endset %}


    <div class="container container-y">
        {% include 'common/alerts/display.html.twig' %}
        <div class="card">
            <h4 class="card-header fw-bold">
                {{ posting.title }}
                <span class="text-secondary ps-2">- {{ posting.assignedTo.name }}</span>
            </h4>
            <div class="card-body">
                <p>{{ posting.description }}</p>

                {% embed 'common/list-accordion/accordion.html.twig' %}
                    {% embed 'common/list-accordion/accordion-item.html.twig' %}
                        {% block buttonText %}
                            <span class="fw-semibold">{{ 'components.posting.schedule.admin.list_header'|trans }}</span>
                        {% endblock %}
                        {% block body %}
                            {% if posting.schedules.empty %}
                                <p class="list-group-item">{{ 'components.posting.schedule.admin.list_empty'|trans }}</p>
                            {% else %}
                                {% for schedule in posting.schedules %}
                                    <div class="list-group-item">
                                        {{ loop.index }}.
                                        <b>{{ 'components.posting.schedule.admin.time'|trans }}:</b>
                                        {{ schedule.time }}
                                        -
                                        <b>{{ 'components.posting.schedule.admin.limit'|trans }}:</b>
                                        {{ schedule.personLimit }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                    {% endembed %}
                    {#                    {% embed 'common/list-accordion/accordion-item.html.twig' with { index: 1 } %} #}
                    {#                        {% block buttonText %} #}
                    {#                            <span class="fw-semibold">{{ 'components.posting.question.admin.list_header'|trans }}</span> #}
                    {#                        {% endblock %} #}
                    {#                        {% block body %} #}
                    {#                            {% if posting.questionnaire.questions.empty %} #}
                    {#                                <p class="list-group-item">{{ 'components.posting.question.admin.list_empty'|trans }}</p> #}
                    {#                            {% else %} #}
                    {#                                {% for question in posting.questionnaire.questions %} #}
                    {#                                    <div class="list-group-item"> #}
                    {#                                        {{ loop.index }}. {{ question.label|trans|raw }} #}
                    {#                                    </div> #}
                    {#                                {% endfor %} #}
                    {#                            {% endif %} #}
                    {#                        {% endblock %} #}
                    {#                    {% endembed %} #}
                    {% embed 'common/list-accordion/accordion-item.html.twig' with { index: 2 } %}
                        {% block buttonText %}
                            <span
                                class="fw-semibold">{{ 'components.posting.candidate.admin.list_header'|trans }} {{ posting.applications|length }}</span>
                        {% endblock %}
                        {% block body %}
                            {% if posting.applications.empty %}
                                <div class="py-4 px-2">
                                    &bull; {{ 'components.posting.candidate.admin.list_empty'|trans }}
                                </div>
                            {% else %}
                                <ul class="list-group list-group-flush">
                                    {% for scheduleId, applications in clientApplicationHandler.getSortedApplications(posting.id) %}
                                        <li class="list-group-item">
                                            <strong>{{ 'components.posting.schedule.admin.time'|trans }}:</strong>
                                            {% set schedule = posting.schedules|find((e) => e.id == scheduleId) %}
                                            {% if schedule is not empty %}
                                                {{ schedule.time }} - {{ 'components.schedule.form.person_limit'|trans }} {{ schedule.personLimit }}
                                            {% else %}
                                                {{ 'components.posting.schedule.admin.no_time'|trans }}
                                            {% endif %}
                                        </li>
                                        {% for sortedApplication in applications %}
                                            {% set application = sortedApplication.application %}
                                            <li class="list-group-item justify-content-between d-flex flex-wrap align-items-center">
                                                <div class="col-12 col-sm-auto">
                                                    {{ application.getValueByKey('first_name') }} {{ application.getValueByKey('last_name') }}
                                                </div>
                                                <div
                                                    class="col-12 col-sm-auto d-flex justify-content-between align-items-center">
                                                    <span class="me-2 badge bg-secondary">
                                                        {{ application.createdAt.format('Y-m-d H:i:s') }}
                                                    </span>
                                                    <span class="me-2 badge bg-secondary">
                                                        {{ 'components.posting.points'|trans }}
                                                        {{ sortedApplication.points }}
                                                    </span>

                                                    {% set applicationPhase = application.getDataByKey('application_phase') %}
                                                    {% if applicationPhase %}
                                                        <span class="me-2 badge bg-secondary">
                                                            {{ ('components.global_config.application_phase.' ~ applicationPhase)|trans }}
                                                        </span>
                                                    {% endif %}
                                                    <a
                                                        href="{{ path('app_admin_posting_application', {'id': posting.id, 'applicationId': application.id}) }}"
                                                        class="btn btn-primary btn-sm ms-auto"
                                                    >
                                                        <i class="fa-solid fa-eye"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endblock %}
                    {% endembed %}
                {% endembed %}
            </div>
            <div class="card-footer">
                {{ actionRow }}
            </div>
        </div>
    </div>
{% endblock %}

