<div class="row px-lg-4 px-md-3 px-2">
    <div class="col-lg-4 col-md-4 col-12">
        {{ form_row(form.text) }}
    </div>
    <div class="col-lg-4 col-md-4 col-12">
        {{ form_row(form.age) }}
    </div>
    <div class="col-lg-4 col-md-4 col-12">
        {{ form_row(form.schedule) }}
    </div>
    <div class="col-lg-4 col-md-4 col-12">
        {{ form_row(form.assignedTo) }}
    </div>
    <div class="col-lg-4 col-md-4 col-12 d-flex align-items-center pt-md-3">
        <button type="submit" class="btn btn-primary w-100 text-nowrap">
            <i class="fas fa-search me-1"></i>
            {{ 'common.search'|trans }}
        </button>
    </div>
</div>
