{% form_theme form 'common/forms/bundle.html.twig' %}

{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.email) }}
{% if form.currentPassword is defined %}
    {{ form_row(form.currentPassword) }}
{% endif %}

{% if form.plainPassword is defined %}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
{% endif %}

{% if form.resetPassword is defined %}
    {{ form_row(form.resetPassword) }}
{% endif %}

{% block buttons %}
    {% block default %}
        <div class="col-md-12">
            {{ form_button(form, {variant: 'primary', icon: 'user', label: 'common.save'|trans}) }}
            {{ form_button(form, {variant: 'secondary', icon: 'door-open', label: 'common.back'|trans, href: path('app_admin_admins')}) }}
        </div>
    {% endblock %}
{% endblock %}
{{ form_end(form) }}
