{% extends 'layouts/base.html.twig' %}
{% form_theme form 'common/forms/bundle.html.twig' %}

{% block body %}
    <div class="container container-y">
        {% include 'common/alerts/display.html.twig' %}

        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="d-flex align-items-end pe-2 flex-wrap">
                        <h2 class="mb-0 pe-2">{{ posting.title }}</h2>
                        <span class="text-secondary fs-4">
                                {{ 'components.posting.assigned_to'|trans({'name': posting.assignedTo.name}) }}
                            </span>
                    </div>
                    <span class="text-secondary fs-4 d-flex align-items-end flex-wrap">
                            <span class="text-muted pe-1">
                                {{ 'components.posting.closing_date'|trans }}:
                            </span>
                            {{ posting.closingDate|date('Y-m-d') }}
                        </span>
                </div>
            </div>
            <div class="card-body">
                <p>{{ posting.description }}</p>
                {{ form_start(form) }}
                {{ form_row(form.schedule) }}
                <div class="mb-3">
                    <div class="card">
                        <div class="card-header">
                            Odpowiedzi
                        </div>
                        <div class="card-body">
                            {% for field in form.children|filter(field => field.vars.name starts with 'answer_') %}
                                <div class="mb-3">
                                    {{ form_row(field) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3 d-flex justify-content-between">
                        <div>
                            {{ form_button(form, {variant: 'primary', icon: 'user', label: 'common.save'|trans}) }}
                            {{ form_button(form, {variant: 'secondary', icon: 'door-open', label: 'Back', href: path('app_admin_posting_index')}) }}
                        </div>
                        <a href="{{ path('app_user_posting_print', {'id': posting.id}) }}" class="btn btn-secondary">
                            <i class="fa fa-print"></i>
                        </a>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
