{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="mb-0">{{ 'user.application.title'|trans({application_id: application.id, posting_title: application.posting.title}) }}</h2>
            </div>
            <div class="card-body">
                <div class="px-2">
                    <h4>{{ 'user.application.details.header'|trans }}</h4>
                    {% include 'components/posting/application_details.html.twig' %}
                </div>

                {% embed 'common/accordion.html.twig' %}
                    {% embed 'common/accordion-item.html.twig' %}
                        {% block buttonText %}
                            <b>{{ 'user.application.questionnaire.header'|trans }}</b>
                        {% endblock %}
                        {% block body %}
                            <dl class="row">
                                {% for answer in application.answers %}
                                    <dt class="col-sm-4">{{ answer.question.label|trans|raw }}</dt>
                                    <dd class="col-sm-8">
                                        {% set readableAnswer = questionService.answerLabel(answer) %}
                                        {% if readableAnswer is iterable %}
                                            <ul>
                                                {% for item in readableAnswer %}
                                                    <li>{{ item|trans }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            {% if not readableAnswer is empty %}
                                                {{ readableAnswer|trans }}
                                            {% else %}
                                                {{ 'components.posting.question.empty_answer'|trans }}
                                            {% endif %}
                                        {% endif %}
                                    </dd>
                                {% endfor %}
                            </dl>
                        {% endblock %}
                    {% endembed %}
                {% endembed %}

                <div class="mt-4">
                    {#                    <h4>{{ 'user.application.retract.header'|trans }}</h4> #}
                    {#                    <p>{{ 'user.application.retract.description'|trans }}</p> #}
                    {#                    <div class="col-md-12"> #}
                    {#                        <a href="{{ path('app_user_posting_application_retract', {'applicationId': application.id, 'id': posting.id}) }}" #}
                    {#                           class="btn btn-danger"> #}
                    {#                            <i class="fas fa-trash-alt"></i> #}
                    {#                            {{ 'user.application.retract.submit'|trans }} #}
                    {#                        </a> #}
                    {#                    </div> #}
                    {% embed 'common/accordion.html.twig' %}
                        {% embed 'common/accordion-item.html.twig' %}
                            {% block buttonText %}
                                {% do attrs.append('class', 'py-2') %}
                                <b>{{ 'user.application.retract.header'|trans }}</b>
                            {% endblock %}
                            {% block body %}
                                <p>{{ 'user.application.retract.description'|trans({posting_title: posting.title}) }}</p>
                                <div class="col-md-12">
                                    <a href="{{ path('app_user_posting_application_retract', {'applicationId': application.id, 'id': posting.id}) }}"
                                       class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                        {{ 'user.application.retract.submit'|trans }}
                                    </a>
                                </div>
                            {% endblock %}
                        {% endembed %}
                    {% endembed %}
                </div>
            </div>
            <div class="card-footer">
                {{ 'user.application.help'|trans({'email': application.posting.assignedTo.email })|raw }}
            </div>
        </div>
    </div>
{% endblock %}

