{% form_theme form 'common/forms/bundle.html.twig' %}

{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.email) }}
{% if form.password is defined %}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
{% endif %}

{% block buttons %}
<div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-btn fa-user"></i> Register
    </button>
</div>
{% block %}
{{ form_end(form) }}
