{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="card card-flush">
        <h1 class="card-header bg-transparent">
            &bull; Zapisz się na zajęcia
        </h1>

        <div class="card-body px-0">
            {% if app.user.applications|length %}
                {#            <div class="py-2 px-2 bg-light"> #}
                {% set accordionId = 'accordion-' ~ random() %}
                <div class="accordion accordion-flush mb-3 border-top border-bottom" id="{{ accordionId }}">
                    {% embed 'common/accordion-item.html.twig' with {
                        parentId: accordionId,
                        headerTag: 'h3',
                        buttonClasses: 'fs-3 fw-semibold bg-light border-1',
                    } %}
                        {% block buttonText %}
                            Zajęcia na które jesteś zapisany
                        {% endblock %}

                        {% block body %}
                            <div class="card-group-vertical">
                                {% for application in app.user.applications %}
                                    <div class="card">
                                        <div class="card-body">
                                            <h2>{{ application.posting.title }}
                                                <span class="text-secondary">
                                                    Prowadzi: {{ application.posting.assignedTo.name }}
                                                </span>
                                            </h2>
                                            <p>{{ application.posting.description }}</p>
                                            <a href="{{ path('app_user_index', {id: application.id}) }}"
                                               class="btn btn-primary">Edit</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
                {#            </div> #}
            {% endif %}

            <div class="card-group-vertical px-4">
                {% for posting in postings %}
                    <div class="card">
                        <div class="card-body">
                            <h2>{{ posting.title }}
                                <span class="text-secondary">
                                    Prowadzi: {{ posting.assignedTo.name }}
                                </span>
                            </h2>
                            <p>{{ posting.description }}</p>
                            <a href="{{ path('app_user_posting', {id: posting.id}) }}"
                               class="btn btn-primary"
                            >
                                {% set alreadyApplied = app.user.applications|filter(x => x.posting.id == posting.id)|length %}
                                Zapisz się {% if alreadyApplied %}ponownie{% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
