{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="card card-flush">
        <h1 class="card-header bg-transparent">
            {{ 'index.header'|trans }}
        </h1>

        <div class="card-body px-0">
            {% if app.user is not empty and app.user.applications|length %}
                {% embed 'common/accordion.html.twig' with {classes: 'mb-3 border-top border-bottom', flush: true} %}
                    {% embed 'common/accordion-item.html.twig' with {
                        headerTag: 'h3',
                    } %}
                        {% block buttonText %}
                            {% do attrs.append('class', ' fs-3 fw-semibold bg-light border-1') %}
                            {{ 'index.signed_up_list'|trans }}
                        {% endblock %}

                        {% block body %}
                            <div class="card-group-vertical">
                                {% for application in app.user.applications %}
                                    <div class="card">
                                        <div class="card-body">
                                            <h2>{{ application.posting.title }}
                                                <span class="text-secondary">
                                                    {{ 'components.posting.assigned_to'|trans({'name': application.posting.assignedTo.name}) }}
                                                </span>
                                            </h2>
                                            <p>{{ application.posting.description }}</p>
                                            <a href="{{ path('app_user_index', {id: application.id}) }}"
                                               class="btn btn-primary">{{ 'common.edit'|trans }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endblock %}
                    {% endembed %}
                {% endembed %}
            {% endif %}

            <div class="card-group-vertical px-4">
                {% for posting in postings %}
                    <div class="card">
                        <div class="card-body">
                            <h2>{{ posting.title }}
                                <span class="text-secondary">
                                    {{ 'components.posting.assigned_to'|trans({'name': posting.assignedTo.name}) }}
                                </span>
                            </h2>
                            <p>{{ posting.description }}</p>
                            <a href="{{ path('app_user_posting', {id: posting.id}) }}"
                               class="btn btn-primary"
                            >
                                {% if app.user is not empty %}
                                    {% set alreadyApplied = app.user.applications|filter(x => x.posting.id == posting.id)|length %}
                                {% endif %}
                                {{ 'components.posting.sign_up'|trans({again: alreadyApplied|default(false)}) }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
