{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="p-4">

        <div class="card">
            <div class="card-body">
                {% if app.user %}
                    {% set applications = app.user.applications|filter(x => x.posting.id == posting.id) %}
                    {% set hasApplied = applications|length %}
                {% else %}
                    {% set hasApplied = false %}
                {% endif %}
                
                <div {% if hasApplied %}class="mb-3"{% endif %}>
                    <h2>{{ posting.title }}
                        <span class="text-secondary">
                           Prowadzi: {{ posting.assignedTo.name }}
                        </span>
                    </h2>
                    <p>{{ posting.description }}</p>
                    <a href="{{ path('app_user_posting_apply', {id: posting.id}) }}"
                       class="btn btn-primary"
                    >
                        Zapisz się {% if hasApplied %}ponownie{% endif %}
                    </a>
                </div>
                {% if hasApplied %}
                    {% embed 'common/collapse/collapse.html.twig' with {type: 'a'} %}
                        {% block trigger %}
                            <a {{ attrs|raw }}>
                                Zajęcia na które jesteś zapisany
                            </a>
                        {% endblock %}
                        {% block collapse %}
                            <div class="card-group-vertical">
                                {% for application in applications %}
                                    {% include 'pages/user/application/card.html.twig' with {
                                        application: application,
                                        flush: true,
                                    } %}
                                {% endfor %}
                            </div>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
