{% set body %}
    <div>
        <div class="row pt-2 px-2">
            {{ form_row(subPosting.time, {
                row_attr: {
                    class: 'col-12 col-md-9 d-inline-block pe-2 mb-3'
                }
            }) }}
            {{ form_row(subPosting.personLimit, {
                row_attr: {
                    class: 'col-12 col-md-3 d-inline-block mb-3'
                }
            }) }}
        </div>
    </div>
{% endset %}

{% if prototype is defined and prototype %}
    {% set accordionId = '__name__' %}
{% endif %}

{% embed 'common/list-accordion/accordion-item.html.twig' with {
    containerClass: 'subposting-items',
    parent: '.subpostings-accordion',
    accordionId: accordionId
} %}
    {% block buttonText %}
        {% do attrs.append('class', 'd-flex align-items-center gap-2') %}
        {{ loop.index|default('__name1__') }}.
        <div class="d-flex flex-grow-1">
            {{ form_row(subPosting.title, {
                row_attr: {
                    class: 'd-flex align-items-center gap-2 w-100'
                },
                label_attr: {
                    class: 'd-flex mb-0 gap-1'
                }
            }) }}
        </div>
        <button type="button" class="btn btn-danger btn-sm remove-subposting">
            <i class="fa fa-trash"></i>
        </button>
    {% endblock %}
    {% block body %}
        {{ body }}
    {% endblock %}
{% endembed %}
