{# templates/security/login.html.twig #}
{% extends 'layouts/base.html.twig' %}
{% block title %}{{ 'security.form.login.header'|trans }}{% endblock %}
{% block body %}
    <div class="d-flex justify-content-center w-100 pt-4">
        <div class="card bg-light" style="width: 800px;">
            {% if is_loggedin() %}
                <div class="card-body">
                    <div class="mb-3">
                        {{ 'security.form.error.already_logged_in'|trans({name: app.user.name}) }}
                        <a href="{{ path('app_logout') }}">{{ 'security.logout'|trans }}</a>
                    </div>
                </div>
            {% else %}
                <form class="form-horizontal" role="form" method="post">
                    <div class="card-header py-3 fw-semibold">{{ 'security.form.login.header'|trans }}</div>
                    <div class="card-body gap-2 d-grid py-4">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-4 control-label">
                                {{ 'security.form.email'|trans }}
                            </label>
                            <div class="col-md-12">
                                <input
                                    id="inputEmail"
                                    type="email"
                                    class="form-control"
                                    name="_username"
                                    value="{{ last_username }}"
                                    required
                                    autofocus
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-4 control-label">
                                {{ 'security.form.password'|trans }}
                            </label>
                            <div class="col-md-12">
                                <input
                                    id="inputPassword"
                                    type="password"
                                    class="form-control"
                                    name="_password"
                                    required
                                />
                            </div>
                        </div>
                        <input
                            type="hidden"
                            name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        />
                        <input
                            type="hidden"
                            name="_target_path"
                            value="{{ app.request.get('redirect_after') }}"
                        />
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-sign-in"></i> {{ 'security.form.login.submit'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="card-footer py-3">
                    {{ 'security.form.login.no_account'|trans }}
                    <a href="{{ path('app_registration') }}">{{ 'security.register'|trans }}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
