{% if open is not defined %}
    {% set open = false %}
{% endif %}

{% set defaultCollapse %}
    <div class="accordion-body">
        {% block body %}{% endblock %}
    </div>
{% endset %}
{% set hasContent = block('body') is not empty or block('collapse') is not same as (defaultCollapse) %}

{% if loop is defined and index is not defined %}
    {% set index = loop.index %}
{% endif %}
{% set index = index|default(0) %}
{% set itemId = accordionId ~ '-' ~ index %}

{% set header %}
    {% set headerTag = headerTag|default('div') %}
    <{{ headerTag }} class="accordion-header">

    {% set attrs = attrs_object({
        'class': ('accordion-button' ~ ' ' ~ (open ? '' : 'collapsed') ~ ' ' ~ (hasContent ? '' : 'empty-accordion'))|trim,
        'type': 'button',
        'aria-expanded': open ? 'true' : 'false',
        'aria-controls': itemId,
        'data-bs-toggle': 'collapse',
        'data-bs-target': '#' ~ itemId,
    }) %}
    {% block button %}
        {% set buttonContent %}
            {% block buttonText %}
                {% block default %}
                    Button
                {% endblock %}
            {% endblock %}
        {% endset %}

        {% if buttonClasses is defined %}
            {% do attrs.append('class', ' ' ~ buttonClasses, true) %}
        {% endif %}
        <button {{ attrs|raw }}>
            {{ buttonContent }}
        </button>
    {% endblock %}
    </{{ headerTag }}>
{% endset %}

<div class="accordion-item {{ itemClasses|default('') }}">
    {{ header }}
    {% if hasContent %}
        <div id="{{ itemId }}"
             class="accordion-collapse collapse {% if open %}true{% endif %}"
             data-bs-parent="#{{ accordionId }}"
        >
            {% block collapse %}
                {{ defaultCollapse }}
            {% endblock %}
        </div>
    {% endif %}
</div>

{% set css %}
    <style>
        .empty-accordion::after {
            background-image: unset;
        }
    </style>
{% endset %}
{{ assets_styles().addStyle(css, 'accordion-item.html.twig') }}
