{% set variant = variant|default('primary') %}
{% if variant == 'primary' %}
    {% set class = 'btn btn-primary' %}
{% elseif variant == 'secondary' %}
    {% set class = 'btn btn-secondary' %}
{% elseif variant == 'success' %}
    {% set class = 'btn btn-success' %}
{% elseif variant == 'danger' %}
    {% set class = 'btn btn-danger' %}
{% endif %}

{% set attrs = attrs|default({}) %}
{% set attrs = attrs|merge({
    type: attrs.type|default('submit'),
    class: (class ~ ' ' ~ attrs.class|default(''))|trim,
    href: href|default(attrs.href|default('')),
}) %}
{% if attrs.href is not defined %}
    {% set attrs = attrs|merge({
        type: 'button',
    }) %}
{% endif %}

{% if icon is defined and not icon|split(' ')|filter((x) => x in ['fa', 'fa-solid', 'fa-btn']) %}
    {% if not (icon starts with 'fa-') %}
        {% set icon = 'fa-' ~ icon %}
    {% endif %}
    {% set icon = 'fa-solid fa-btn ' ~ icon %}
{% endif %}

{% set label = label|default('') %}

{% set content %}
    {% if icon %}
        <i class="{{ icon }}"></i>
    {% endif %}
    {{ label }}
{% endset %}

{% set attributes = '' %}
{% for key, value in attrs|filter(x => x is not empty) %}
    {% set attributes = attributes ~ ' ' ~ key ~ '="' ~ value ~ '"' %}
{% endfor %}

{% if attrs.href is defined and attrs.href is not empty %}
    <a {{ attributes|raw }} data-hook="submit-button">
        {{ content }}
    </a>
{% else %}
    <button {{ attributes|raw }} data-hook="submit-button">
        {{ content }}
    </button>
{% endif %}
