{% extends 'layouts/base.html.twig' %}
{% block body %}
    <div class="container-fluid container-y ">
        <table class="admin-list-table table table-striped rounded overflow-hidden">
            <thead>
            <tr>
                <th>{{ 'common.row_number'|trans }}</th>
                <th>{{ 'components.user.name'|trans }}</th>
                <th>{{ 'components.user.email'|trans }}</th>
                <th>{{ 'components.user.role'|trans({multiple: true}) }}</th>
                <th>{{ 'common.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for admin in admins %}
                <tr>
                    <td>{{ loop.index + (page - 1) * 10 }}</td>
                    <td>{{ admin.name }}</td>
                    <td>{{ admin.email }}</td>
                    <td>{{ admin.roles|map((role) => role|trans)|join(', ') }}</td>
                    <td>
                        <div class="d-flex">
                            <a class="btn icon-link link-primary"
                               href="{{ path('app_admin_edit_account', {'id': admin.id}) }}"
                               data-bs-toggle="tooltip"
                               title="{{ 'common.edit'|trans }}"
                            >
                                <i class="fa-solid fa-user-edit"></i>
                            </a>
                            <twig:Modal
                                onConfirm="() => {
                                    window.location.href = '{{ path('app_admin_delete_account', {'id': admin.id}) }}';
                                }"
                            >
                                <twig:block name="trigger">
                                    <btn {{ btnAttrs.addOrSet({class: 'btn icon-link link-danger'})|raw }}>
                                        <i class="fa-solid fa-user-xmark"></i>
                                    </btn>
                                </twig:block>
                            </twig:Modal>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {% set styles %}
        <style>
            .admin-list-table td {
                vertical-align: middle;
            }
        </style>
    {% endset %}

    {{ assets_styles().addStyle(styles) }}
{% endblock %}

