{% extends 'layouts/base.html.twig' %}
{% block body %}
    <div class="container-fluid container-y">
        <table class="admin-list-table table table-striped rounded overflow-hidden table-cells-vertical">
            <thead>
            <tr>
                <th>{{ 'common.row_number'|trans }}</th>
                <th>{{ 'components.user.name'|trans }}</th>
                <th>{{ 'components.user.email'|trans }}</th>
                <th>{{ 'components.user.role'|trans({multiple: true}) }}</th>
                <th>{{ 'common.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index + (page - 1) * 10 }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ admin.roles|map(fn($role) => 'components.user.user_role'|trans({role: $role}))|join(', ') }}</td>
                    <td>
                        {#                        TODO: Add editting? #}
                        <twig:Modal
                            onConfirm="() => {
                            window.location.href = '{{ path('app_admin_delete_account', {'id': user.id}) }}';
                        }"
                        >
                            <twig:block name="trigger">
                                <btn {{ btnAttrs.addOrSet({class: 'icon-link link-danger'})|raw }}>
                                    <i class="fa-solid fa-user-xmark"></i>
                                </btn>
                            </twig:block>
                        </twig:Modal>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

