{% extends 'layouts/base.html.twig' %}
{% import 'pages/admin/macros.html.twig' as macros %}
{% block body %}
    <div class="pt-4">
        <div class="card mx-auto" style="width: 800px">
            <div class="card-header">{{ 'admin.dashboard.header'|trans }}</div>
            <div class="card-body">
                <ul class="list-group">
                    {% set userType = (constant('App\\Security\\Entity\\UserRoles::SUPER_ADMIN').value in app.user.roles)
                        ? 'super_admin'
                        : 'admin' %}

                    {% if userType is 'super_admin' %}
                        {{ macros.nav_item('admin.dashboard.items.create_admin'|trans, 'fa-user-plus', url('app_admin_create_account'), 'a') }}
                        {{ macros.nav_item('admin.dashboard.items.questionaire'|trans, 'fa-question', url('app_admin_questionnaire_index'), 'a') }}
                    {% endif %}
                    {{ macros.nav_item('admin.dashboard.items.client'|trans, 'fa-users', url('app_admin_users'), 'a') }}
                    {{ macros.nav_item('admin.dashboard.items.admin'|trans, 'fa-users', url('app_admin_admins'), 'a') }}
                    {{ macros.nav_item(('admin.dashboard.items.posting.'~userType)|trans, 'fa-list-check', url('app_admin_posting_index'), 'a') }}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
